.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

/* Mobile styles */
@media (max-width: 768px) and (orientation: portrait) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}
